*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.main-container{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-sec{
    display: grid;
    width: 90%;
    height: 90vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:0.2fr 1fr 0.6fr 0.6fr;
    /* grid-template-rows: repeat(2, 1fr); */
    background-color: black;
}
.grid-sec .box{
    border: 1px solid rgb(217, 217, 217);
}
.grid-sec .box:first-child{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    align-items: center;
    color: rgb(158, 156, 156);
}
.grid-sec .box:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    color: black;
    font-weight: 500;
}
.grid-sec .box:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 10px;
    color: black;
    font-weight: 500;
}
.grid-sec .box:nth-child(4){
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: rgb(255, 255, 255);
    justify-content: end;
    display: flex;
    align-items: center;
    padding-inline: 20px;
}
.grid-sec .box:nth-child(5){
    grid-column: 1/5;
    grid-row: 2/3;
    /* background-color: rgb(51, 151, 36); */
    background-image: url(./asstes/mountain.jpeg);
    background-position: center;
    background-size: contain;
    display: flex;
    padding-block: 60px;
    padding-inline: 30px;
    /* justify-content: space-evenly; */
}
.grid-sec .box:nth-child(5) h3{
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 80px;
}
.grid-sec .box:nth-child(6){
    grid-column: 1/2;
    grid-row:3/4;
    background-color: rgb(255, 255, 255);
}
.grid-sec .box:nth-child(7){
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}
.grid-sec .box:nth-child(7) span{
    color: blue;
}
.grid-sec .box p{
    margin-top: 20px;
    font-size: 13px;
}
.grid-sec .box:nth-child(8){
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: rgb(252, 252, 252);
    padding: 30px;
}
.grid-sec .box:nth-child(9){
    grid-column: 4/5;
    grid-row: 3/4;
    background-color: rgb(255, 255, 255);
    padding: 30px
}
.grid-sec .box:nth-child(9) span{
    color: rgb(240, 36, 36);
}
.grid-sec .box:nth-child(10){
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: rgb(255, 255, 255);
}
.grid-sec .box:nth-child(11){
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}
.grid-sec .box:nth-child(12){
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}
.grid-sec .box:nth-child(13){
    grid-column: 4/5;
    grid-row: 4/5;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}
.grid-sec .box:nth-child(13) span{
    color: purple;
}
